    <!-- Disloc Tool -->
      <div class="tool">
        <div class="tool-title"><b>Disloc</b></div>
        User name: {{username}}. 
        <div class="divider"></div>
        <div class="tool-content">
          Upload your Disloc input file
          <img id="dislocinputInfoImg" src="https://raw.githubusercontent.com/GeoGateway/GeoGatewayStaticResources/master/icons/question-mark-blue.png"  width="15" height="15" border="1"/>
          <div id="dislocinputformatDialog" title="Disloc Input Format">
  <p>  Use this form to upload one or more faults that are already in Disloc input file format. The following example shows formatting:
    <ul>
    <li>Line 1: 32.904255 -115.526449 1 (this is the lat, lon of the origin; and "1" signifies use of a grid).</li>
    <li>Line 2: -75 1 151 -40 1 41 (the grid: x0, x_delta, x_number, y0, y_delta, y_number).</li>
    <li>Line 3: 20.489759271 -80.624111128 355.0 (first fault patch: x, y (km) from origin and strike (degrees).</li>
    <li>Line 4: 0 1.21 45.0 1.0 1.0 -0.0 -0.0 0.0 3.0 3.0 (fault_type 0 for point dislocation, depth, dip (degrees), lambda, mu,u1,u2,u3, length, width).</li>
<li>Repeat the formats for Lines 3 and 4 for each additional fault.</li>
</ul>
</p></div>
          <div ng-controller="UploadController">
            <div class="row">
              <div class="col-md-12 form-group">
                <input type="file" file-model="myFile">
              </div>
              <div class="col-md-12 form-group">
                <button class="btn btn-sm btn-primary" ng-click="uploadFile()">Upload File</button>
              </div>
            </div>
          </div>
          <div> <!--<div ng-controller="EditProjectController">-->
            <div class="panel panel-default" ng-show='status == "Ready" || status == "Submitted"'>
              <div class="panel-body">
                <h4>Your project's components</h4>
                <!--
                <div ng-show="myproject.status=='Completed'">
                  <input type="checkbox"  ng-click="publishProject(myproject._id)" ng-checked="myproject.permission=='Published'" ng-model="publishCheckboxModel"> Publish Project
                </div>
                -->
                <table class="table table-striped table-bordered table-condensed table-responsive">
                  <tbody>
                    <tr>
                      <td>Project Name</td>
                      <td>{{myproject.projectName}}</td>
                    </tr>
                    <!--
                    <tr>
                      <td>Permission</td>
                      <td>{{myproject.permission}}</td>
                    </tr>
                    -->
                    <tr>
                      <td>Project ID</td>
                      <td>{{myproject._id}}</td>
                    </tr>
                    <!-- not necessary
                    <tr>
                      <td>Creation Time</td>
                      <td>{{myproject.creationTime}}</td>
                    </tr>
                    <tr>
                      <td>Update Time</td>
                      <td>{{myproject.updateTime}}</td>
                    </tr>
                    -->
                    <tr>
                      <td>Input File</td>
                      <td><a href="{{myproject.projectInputFileNameUrl}}" target="_blank" type="text/plain">{{myproject.projectInputFileName}}</a></td>
                    </tr>
                    <tr ng-show="myproject.status == 'Ready'">
                      <td>Parameters</td>
                      <td><ul style="list-style-type:none;padding-left:0px">
                          <li>Elevation (Deg): <input type="text" size="5" id="disloc_elevation" name="disloc_elevation" value=60 /></li>
                          <li>Azimuth (Deg): <input type="text" size="5" id="disloc_azimuth" name="disloc_azimuth" value=0 /></li>
                          <li>Frequency (GHz): <input type="text" size="5" id="disloc_frequency" name="disloc_frequency" value=1.26 /></li>
                        </ul>
                      </td>
                    </tr>
                    <tr ng-show="myproject.status == 'Completed'">
                      <td>Output File</td>
                      <td><a href="{{myproject.projectOutputFileNameUrl}}" target="_blank" type="text/plain" download>{{myproject.projectOutputFileName}}</a></td>
                    </tr>
                    <!--
                    <tr ng-show="myproject.status == 'Completed'">
                      <td>Log File</td>
                      <td><a href="{{myproject.projectLogFileNameUrl}}" target="_blank" type="text/plain">{{myproject.projectLogFileName}}</a></td>
                    </tr>
                    <tr ng-show="myproject.status == 'Completed'">
                      <td>Stdout</td>
                      <td><a href="{{myproject.projectStandardOutUrl}}" target="_blank" type="text/plain">{{myproject.projectStandardOut}}</td>
                    </tr>
                    <tr ng-show="myproject.status == 'Completed'">
                      <td>Stderr</td>
                      <td><a href="{{myproject.projectStandardErrorUrl}}" target="_blank" type="text/plain">{{myproject.projectStandardError}}</a></td>
                    </tr>
                    -->
                    <tr ng-show="myproject.status == 'Completed'">
                      <td>Output KML</td>
                      <td><input  type="checkbox" id="displaydisloc_outputkml" value="disloc_outputkml" onclick="check_dislockml(this)" ><a id="disloc_outputkml" href="{{myproject.projectOutputKMLFileNameUrl}}" target="_blank" type="text/plain">{{myproject.projectOutputKMLFileName}}</a></td>
                    </tr>
                    <tr ng-show="myproject.status == 'Completed'">
                      <td>SARImage KML</td>
                      <td><input type="checkbox" id="displaydisloc_sarimagekml" value="disloc_sarimagekml" onclick="check_dislockml(this)" ><a id="disloc_sarimagekml" href="{{myproject.projectOutputSARImageKMLFileNameUrl}}" target="_blank" type="text/plain">{{myproject.projectOutputSARImageKMLFileName}}</a></td>                    
                    </tr>
                    <tr ng-show="myproject.status == 'Completed'">
                      <td>Tiltmap Output</td>
                      <td><a href="{{myproject.projectOutputTiltCSVFileNameUrl}}" target="_blank" type="text/plain" download>{{myproject.projectOutputTiltCSVFileName}}</a></td>
                    </tr>
                    <tr ng-show="myproject.status == 'Completed'">
                      <td>Strain Magnitude KML</td>
                      <td><input  type="checkbox" id="displaydisloc_strainmagkml" value="disloc_strainmagkml" onclick="check_dislockml(this)" ><a id="disloc_strainmagkml" href="{{myproject.projectOutputStrainMagFileNameUrl}}" target="_blank" type="text/plain">{{myproject.projectOutputStrainMagFileName}}</a></td>
                    </tr>
                    <tr ng-show="myproject.status == 'Completed'">
                      <td>Download All</td>
                      <td><a href="{{myproject.projectZipFileNameUrl}}" target="_blank" type="text/plain" download>{{myproject.projectZipFileName}}</a></td>
                    </tr>
                    <tr>
                      <td>Status</td>
                      <td>{{myproject.status}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            
            <div class="panel panel-default" ng-show='myproject.status == "Ready"'>
              <div class="panel-body">
                <!--<h4>Click the button to submit.</h4>-->
                <form role="form" ng-submit="submitdisloc('disloc')">
                  <div class="form-group">
                    <input class="btn btn-sm btn-primary" type="submit" id="submitDisloc" value="Run Model"/>
                  </div>
                </form>
              </div>
            </div>
            <div class="panel panel-default" ng-show='myproject.status == "Submitted"'>
              <div class="panel-body">
                <h4>Click the button to refresh.</h4>
                <form role="form" ng-submit="refreshView()">
                  <div class="form-group">
                    <input class="btn btn-sm btn-primary" type="submit" id="refreshDisloc" value="Refresh"/>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
<script type="text/javascript">
$("#dislocinputformatDialog").dialog({
    modal: true,
    draggable: true,
    autoOpen: false, 
    width: 600,
    buttons: [{
    text: "close",
      click: function() {
        $( this ).dialog( "close" );}}]
    });

$("#dislocinputInfoImg").on("click", function()
{
  $("#dislocinputformatDialog").dialog('open');
});
</script>

      </div>
