<script type="text/javascript">
/////////////////////////// INTRO WINDOW RELATED /////////////////////////

// script for the opening and closing animation for the intro window
$(document).ready(function() {
    $('.intro-window-close').click(function() {
        if($('.intro-window').hasClass('open')) {
            $('.intro-window').removeClass('open').addClass('closed');
            $('.intro-window-close').hide(0);
            $('.intro-window-feedback').hide(0);
            $('.intro-window-news').hide(0);
            $('.intro-window-about').hide(0);
            $('.intro-window-welcome').hide(0);
            $('.main-logo').hide(0);
            $('.welcome-text').hide(0);
            // $('.intro-window-content').animate({height: "0px"}, 500);
            // $('.intro-window').animate({height: "0px"}, 500);
            $('.intro-window-content').slideUp(500);
            $('.intro-window').slideUp(500);
            $('#map-canvas').removeClass('blur');
            $('.tools-panel').removeClass('blur');
        }
    });
    $('.intro-window-open').click(function() {
        if($('.intro-window').hasClass('closed')) {
            $('.intro-window').removeClass('closed').addClass('open');
            // $('.intro-window').animate({height: "calc(95% - 3px)"}, 500);
            // $('.intro-window-content').animate({height: "calc(95% - 3px)"}, 500);
            $('.intro-window').slideDown(500);
            $('.intro-window-content').slideDown(500);
            $('.intro-window-close').show(0);
            $('.intro-window-feedback').show(0);
            $('.intro-window-news').show(0);
            $('.intro-window-about').show(0);
            $('.intro-window-welcome').show(0);
            $('.main-logo').show(0);
            $('.welcome-text').show(0);
            $('#map-canvas').addClass('blur');
            $('.tools-panel').addClass('blur');
        }
    });
});
</script> 
<div class="intro-window-open">
  <span class="glyphicon glyphicon-chevron-down intro-window-open-glyph"> </span>
</div>
<div class="intro-window open">
  <div class="intro-window-content">
    <div class="intro-window-welcome">
      <div class="welcome-text default-font huge">Welcome to</div>
      <img class="main-logo" src="images/logos/logo_black.png" alt="GeoGateway Logo">
    </div>
    <div class="intro-window-about default-font large">
      GeoGateway is a data product search and analysis gateway for scientific discovery, field use, and disaster response. GeoGateway focuses on NASA geodetic imaging products from InSAR and GPS integrated with earthquake faults datasets, seismicity, and models.
    </div>
    <div class="intro-window-news default-font large">
      <div class="intro-window-box-title">News</div>
      <div class="intro-window-box-content">
        <p>
          <table>
            <tr>
              <td style="vertical-align:top">
                Aftershock forecast in region of the recent m=8.3 earthquake off the coast of Chile (2015-09-16 22:54:33 UTC, lat=31.570°S, lon=71.654°W): Contours indicate expected relative local rates of aftershock seismicity from the sequence. As usual, "warm" colors indicate high rates of seismicity; "cool" contours indicate quiet areas. Seismicity estimates are based on all seismicity in the shown region for the past 5 years.
                Zip file with KMZ of entire forecast available <a href="chile_2015_09_16_20_30PDT.zip">here</a>.
              </td>
              <td>
                <img src="images/chile_etas_2015_09_16_21_40PDT.png" style="display:block;margin-left:auto;margin-right:auto;width:auto;height:auto;max-height:350px"/>
              </td>
            </tr>
          </table>
        </p>
        <!--
            <table>
          <tr>
          <td>
        <p>GeoGateway Co-Investigator Lisa Grant Ludwig leads an interesting study on why precariously balanced rocks exist at the junction of the San Andreas and San Jacinto faults.</p>
        <p>It is crucial to consider the faults together, Prof Ludwig said - not just to explain the baffling, balancing rocks, but also in order to plan safely for future earthquakes.</p>
        <p>"These are really networks of fractures in the earth. Just because we give them different names doesn't mean that they behave independently."</p>
        <p>
        Full story: <a href="http://www.bbc.com/news/science-environment-33772541">http://www.bbc.com/news/science-environment-33772541</a></p>
        </td>
          <td>
        <img src="images/balancingrocks.jpg" style="display:block;margin-left:auto;margin-right:auto;width:auto;height:auto;max-height:250px"/>
        </td>

</tr>
-->
      </div>
<!--
      <div class="intro-window-box-content">
        Initial model of the M 7.8 Nepal earthquake as may be seen by an Interferometric Synthetic Aperture (InSAR) spacecraft such as Sentinal-1 or ALOS-2 and GPS. The model is based on USGS mechanism of a near horizontal fault and the location of aftershocks. This image shows a synthetic interferogram for a descending pass of –168°, 24 cm wavelength, elevation of 40°. Fault is 11° dip striking 295°. Maximum displacement vector is about 2.3 m. Color wrap is 24 cm per fringe.
        <p/>
        <a href="images/GeoGatewayNepal2Solution.kmz" target="_blank">Solution KMZ</a>
        <a href="images/Deformation20150501a.jpeg" target="_blank">
          <img src="images/Deformation20150501a.jpeg" style="display:block;margin-left:auto;margin-right:auto;width:auto;height:auto;max-height:250px"/>
        </a>
        <!--
            <div data-ng-controller="FeedCtrlBlog">
              <div class="row-fluid">
                <div class="row-fluid" ng-init="loadFeed()">
                  <ul class="unstyled">
                    <li ng-repeat="feed in feeds | limitTo:3">                    
                      <h5><a href="{{feed.link}}">{{feed.title}}</a></h5>
                      <p class="text-left">{{feed.contentSnippet}}</p>                    
                      <span class="small">{{feed.publishedDate}}</span>
                    </li>                
                  </ul>            
                </div>
              </div>
            </div>
              -->

      <!--
          <div class="intro-window-feedback default-font large">
            <div class="intro-window-box-title">System Updates</div>
            <div data-ng-controller="FeedCtrlJira">
              <div class="row-fluid">
                <div class="row-fluid" ng-init="loadFeed()">
                  <ul class="unstyled">
                    <li ng-repeat="feed in feeds | limitTo: 3">                    
                      <h5><a href="{{feed.link}}">{{feed.title}}</a></h5>
                      <p class="text-left">{{feed.contentSnippet}}</p>                    
                      <span class="small">{{feed.publishedDate}}</span>
                    </li>                
                  </ul>            
                </div>
              </div>
            </div>
            -->
    </div>
    <div class="intro-window-close">
      <button class="intro-window-close-button">
        <span class="glyphicon glyphicon-chevron-up intro-window-close-glyph"> </span>
        <span class="default-font huge intro-window-close-sign">&nbsp;Access Tools</span>
      </button>
    </div>
  </div>
</div>
