<script>

    //TODO: Clean this up. Move to tools at least.
    $(document).ready(function() {
	$(".tools-checkbox").click(function() {
	    var checked = this.checked;
	    var type = $(this).val();
	    console.log("Tools checkbox clicked:",type);
	    switch(type) {
		// FAULT LAYER
	    case 'fault-layer':
	 	break;
	    case 'kml-layer':
		if(checked) {
		    $('#KmlMapperDiv').show();
		}
		else {
		    $('#KmlMapperDiv').hide();
		}
		break;
	    }
	});
    });
    function updateGamma(slidervalue) {
	    var mapStyles = [{
	        "stylers": [{
	            "gamma": slidervalue
	        }]
	    }];

	    mapA.setOptions({
	        styles: mapStyles
	    });
	}
</script>

<div class="tool">
  <div class="tool-title"><b>Map Tools</b></div>
  <div class="divider"></div>
  <div class="tool-content">
       
    
    <div>
      <input class="tools-checkbox" type="checkbox" name="KMLMapper-active-tools" value="kml-layer"/>
      <span class="default-font">KML Mapper</span>  
      <div id="KmlMapperDiv" style="display:none">
        Upload a KML from your local file system.
        <div ng-controller="UploadController">
          <div class="row">
            <div class="col-md-12 form-group">
              <input type="file" file-model="myFile">
            </div>
            <div class="col-md-12 form-group">
              <button class="btn btn-sm btn-primary" ng-click="uploadFileForKml()">Upload File</button>
            </div> 
          </div>
          <div ng-hide='uploadedKmlFiles == null'>
          	Fade baselayer: <div id="gammaslider">
  			<input type="range" min="1" max="10" value="1" class="slider" id="gammavalue" onchange="updateGamma(this.value)"></div>
            <p>
              <table id="userKmlTable" class="table table-bordered table-responsive">
                <caption>Click the checkbox to turn the display on/off</caption>
                <thead>
                  <th>KML File</th>
                  <th>Display</th>
                </thead>
                <tbody>
                  <tr ng-repeat="uploadKmlFile in uploadedKmlFiles">
                    <td>{{uploadKmlFile.name}}</td>
                    <td><input type="checkbox" id="{{uploadKmlFile.url}}" onclick="toggleKmlDisplay(this)">
                  </tr>
                </tbody>
              </table>
          </div>
        </div>
      </div>
    </div>
    <p/>


    <!--------------------------------------------------->
 
    
    <!--------------------------------------------------->
    <div>
      <input class="tools-checkbox" type="checkbox" id="maptools.UCERF3FaultLayer" name="active-tools" value="fault-layer" onclick="showUCERF3FaultLayer('black')"/>
      <span class="default-font">UCERF3 Faults</span>
      <div id="div_ucerf3color" style="display: none;">
			<form>
			<input type="radio" name="ucerf3color" onclick="showUCERF3FaultLayer(this.value)" value="black" checked=True>black
			<input type="radio" name="ucerf3color" onclick="showUCERF3FaultLayer(this.value)" value="yellow">yellow
			<input type="radio" name="ucerf3color" onclick="showUCERF3FaultLayer(this.value)" value="red">red
			<input type="radio" name="ucerf3color" onclick="showUCERF3FaultLayer(this.value)" value="grey">grey
			</form>
		</div>
    </div>
    <p/>
    
    <p>
      <div>
        <!-- We'll use onclick instead of ng-click because we need to acces the map object. -->
        <input class="tools-checkbox" id="maptools.stateBoundaries" type="checkbox" onclick="showStateBoundaries()" name="active-tools" value="user-location"/>
        <span class="default-font">Show State Boundaries</span>
      </div>
    </p>
    
    <p>
      <div>
        <!-- We'll use onclick instead of ng-click because we need to acces the map object. -->
        <input class="tools-checkbox" id="maptools.coastlines" type="checkbox" onclick="showCoastlines()" name="active-tools" value="user-location"/>
        <span class="default-font">Show Coastlines</span>
      </div>
    </p>
    
    <p>
      <div>
        <!-- We'll use onclick instead of ng-click because we need to acces the map object. -->
        <input class="tools-checkbox" id="userPositionMarker" type="checkbox" onclick="showUserLocation()" name="active-tools" value="user-location"/>
        <span class="default-font">Show Your Location</span>
      </div>
    </p>

  </div>
</div>
