<script type="text/javascript">
//TODO: This should not be here. Should be in tools.js
//BIG TODO: Use a better approach.
// PROFILE-PANEL-RIGHT contains all of the profile tab panels
// this includes Notecards, Colleagues, Settings, Logout button, etc

// script for animated PROFILE-PANEL OPENING functionality
$(document).ready(function() {
    // open up profile panel
    //Note: Panels don't listen for window resize events, so the tools will
    //need to be toggled to correct sizing in this case. A better way to 
    //handle would be to use $(window).resize(function()), but this is overkill, I think.
    $('.panel-toggle').click(function() {
        if($(this).is('#tools')) {
            if($('.tools-panel').hasClass('open')) {
                $('.tools-panel').removeClass('open');
                $('.tools-panel').addClass('closed');
                $('.tools-panel').animate({width: "0px"}, 50);
                $('#map-canvas').animate({left: "0px"}, 50);
                var new_width = $('#map-canvas').width() + 450;
                $('#map-canvas').width('100%');
//                $('#map-canvas').animate({width: new_width + "px"}, 50);
                new_width = $('.extra-tools-panel').width() + 450;
                $('.extra-tools-panel').animate({left: "0px",width: new_width + "px"}, 50);
                //This doesn't work for some reason
                google.maps.event.trigger(mapA,'resize',{});
            }
            else {
                $('.tools-panel').removeClass('closed');
                $('.tools-panel').addClass('open');
                $('.tools-panel').animate({width: "450px"}, 50);
                $('#map-canvas').animate({left: "450px"}, 50);
                var new_width = $('#map-canvas').width() - 450;
//                $('#map-canvas').animate({width: new_width + "px"}, 50);
                $('#map-canvas').width('-=450px');
                new_width = $('.extra-tools-panel').width() - 450;
                $('.extra-tools-panel').animate({left: "450px",
                                                 width: new_width + "px"}, 50);
                //This doesn't work for some reason
                google.maps.event.trigger(mapA,'resize',{});
            }
            // loadNotecards('.notecard-container', {{ user.id }}, 0, 5, 'append');
            // loadNotecards('.newsfeed-container', -1, 0, 5, 'append');
            // getColleagues();
        }
        else if($(this).is('#profile')) {  
            if($('.profile-panel').hasClass('open')) {
                $('.profile-panel').removeClass('open');
                $('.profile-panel').addClass('closed');
                $('.profile-panel').animate({width: "0px"}, 50);
                var new_width = $('#map-canvas').width() + 250;
//                $('#map-canvas').animate({width: new_width + "px"}, 50);
                $('#map-canvas').width('100%');
                new_width = $('.extra-tools-panel').width() + 250;
                $('.extra-tools-panel').animate({width: new_width + "px"}, 50);
            }
            else {
                $('.profile-panel').removeClass('closed');
                $('.profile-panel').addClass('open');
                $('.profile-panel').animate({width: "250px"}, 50);
                var new_width = $('#map-canvas').width() - 250;
//                $('#map-canvas').animate({width: new_width + "px"}, 50);
                $('#map-canvas').width('-=250px');
                new_width = $('.extra-tools-panel').width() - 250;
                $('.extra-tools-panel').animate({width: new_width + "px"}, 50);
            }
            // $('.notecard-container').empty();
            // $('.colleague-container').empty();
        }
        else if($(this).is('#news')) {
           console.log("News");
           if($('.intro-window').hasClass('open')) {
               console.log("try to close it");
               $('.intro-window').removeClass('open').addClass('closed');
               $('.intro-window').hide(0);
               $('#map-canvas').removeClass('blur');
               $('.tools-panel').removeClass('blur');
            }
            
            else if($('.intro-window').hasClass('closed')) {
               console.log("try to open it");
               $('.intro-window').removeClass('closed').addClass('open');
               $('.intro-window').show(0);
               $('#map-canvas').addClass('blur');
               $('.tools-panel').addClass('blur');
            }
        }

    });
});

</script>
<script>

    // listener for TOOL PANEL TABS
    //TODO: need to replace this with Angular methods.
    $(document).ready(function() {
	$('.tab-button').click(function() {
            if($(this).hasClass('profile-tab-button'))
            {
		$(this).parent().parent().children().removeClass('active');
		$(this).parent().addClass('active');
		updateProfileTabPanel();
	    }
	});
		
    });

function updateProfileTabPanel() {
    var active_tab = $('.profile-tabs').children('.active').children().val();
    $('.profile-panel').children('.active').removeClass('active').addClass('inactive');
    $('.profile-panel').children('#' + active_tab).removeClass('inactive').addClass('active');
};

</script>


<div class="profile-panel closed" ng-controller="LoginController">    
  <!--This is the login/signup stuff -->
  
  <div class="tab-pane profile-tab-pane" id="auth" ng-hide='isAuthenticated()'>
    <div class="tool">
      <div class="tool-title"><b>Login</b></div>
      <div class="divider"></div>
      <div class="tool-content">
        <button type="submit" ng-click="auth0Login()" class="btn auth-btn">Login</button>
      </div>
    </div>
  </div>
  
  
  <!-- profile-panel tabs -->
  <div class="profile-panel" ng-show='isAuthenticated()'>
    <ul type="none" class="profile-tabs">
      <li class="active">
	<button class="tab-button profile-tab-button" value="notecards">
          <span class="glyphicon glyphicon-file"> </span>
	</button>
      </li>
      <!--
	  <li>
	    <button class="tab-button profile-tab-button" value="colleagues">
              <span class="glyphicon glyphicon-user"> </span>
	    </button>
	  </li>
	  -->

      <li>
	<button class="tab-button profile-tab-button" value="newsfeed">
          <span class="glyphicon glyphicon-globe"> </span>
	</button>
      </li>

      
      <li>
	<button class="tab-button profile-tab-button" value="settings">
          <span class="glyphicon glyphicon-cog"> </span>
	</button>
      </li>
    </ul>
    
    <div class="tab-pane profile-tab-pane active" id="notecards" ng-controller="NotecardController">
      <div class="profile-tab-panel-header">
	Notecards
      </div>
      <!--      <div class="profile-panel-divider"></div> -->
      <!--      <div class="divider"></div> -->
      <form class="new-notecard-form">
	<div class="notecard_form.title">
	  Title: <input type="text" ng-model="newNotecard.notecardTitle" id="notecardTitle"/>
	</div>
	<div class="notecard_form.content">
	  Content: <textarea ng-model="newNotecard.notecardContent" id="notecardContent"></textarea>
	</div>
	<div>
	  <div>
            <input type="file" file-model="newNotecardFile">
          </div>
	  <!--
          <div>
            <button class="btn btn-sm btn-primary" ng-click="uploadNotecardFile()">Upload File</button>
          </div>
	  -->
	</div>
	<div class="log-tools">
          <button type="submit" class="btn btn-default new-notecard-submit-btn" ng-click="submitNewNotecard()">Post</button>
	</div>
      </form>
      <div class="profile-panel-divider"></div>
      <div class="notecard-container"></div>
      <div id="theBigNotecardList" ng-show='viewNotecardList==true'>
	<button class="btn btn-info" ng-click="getAllNotecards()">Refresh</button>
	<table style="table-layout:fixed; width:100%" class="table table-striped table-bordered table-condensed table-responsive"> 
          <thead>
            <tr>
              <th>Notecard Title</th>
              <th>Creation Time</th>
              <th>View</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="notecard in notecards | filter:query|orderBy:orderProp">
              <td style="word-wrap:break-word;">{{notecard.notecardTitle}}</td>
              <td style="word-wrap:break-word;">{{notecard.creationTime}}</td>
              <td>
		<button class="btn btn-info" ng-click="viewNotecard(notecard._id)">View</button>
              </td>
            </tr>
          </tbody>
	</table>
      </div>
      <div id="viewSelectedNotecard" ng-show='viewNotecardList==false'>
        <button class="btn btn-success" ng-click="getAllNotecards()">View List </button>
        <div>
          <input type="checkbox" ng-click="publishNotecard(notecard._id)" ng-checked="notecard.permission=='Published'" ng-model="publishNotecardCheckboxModel"> Publish Notecard  
        </div>
        <table style="table-layout:fixed; width:100%" class="table table-striped table-bordered table-condensed table-responsive">
          <tbody>
	    <tr>
              <td>Id</td>
              <td style="word-wrap:break-word;">{{notecard._id}}</td>
            </tr>
            <tr>
              <td>Title</td>
              <td style="word-wrap:break-word;">{{notecard.notecardTitle}}</td>
            </tr>
            <tr>
              <td>Content</td>
              <td style="word-wrap:break-word;">{{notecard.notecardContent}}</td>
            </tr>
	    <tr ng-show='notecard.attachedFileUrl != null'>
              <td>Attached File</td>
              <td><a href="{{notecard.attachedFileUrl}}" target="_blank">File</a></td>
	    </tr>
            <tr>
              <td>Permission</td>
              <td style="word-wrap:break-word;">{{notecard.permission}}</td>
            </tr>
            <tr>
              <td>Creation Time</td>
              <td style="word-wrap:break-word;">{{notecard.creationTime}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    
    <div class="tab-pane profile-tab-pane inactive" id="newsfeed" ng-controller="NotecardController">
      <div class="profile-tab-panel-header">
	Public Notecards
      </div>
      <div class="profile-panel-divider"></div>
      <div class="newsfeed-container"></div>
      <form>
	<table>
	  <tr>
	    <td>
	      Notecard ID: <input type="text" ng-model="theNotecard.notecardId" id="notecardId"/>
	    </td>
	  </tr>
	  <tr>
	    <td>
	      Notecard Username: <input type="text" ng-model="theNotecard.username" id="notecardUsername"/>
	    </td>
	  </tr>
	  <tr>
	    <td>
	      <button type="submit" class="btn btn-success" ng-click="getTheNotecard()">Get Notecard</button>
	    </td>
	  </tr>
	  </table>
      </form>
      
      <div class="panel-body">
        <table class="table table-striped table-bordered table-condensed table-responsive">
          <tbody>
            <tr>
              <td>Title</td>
              <td>{{theNotecard.notecardTitle}}</td>
            </tr>
            <tr>
              <td>Content</td>
              <td>{{theNotecard.notecardContent}}</td>
            </tr>
	    <tr ng-show='notecard.attachedFileUrl != null'>
              <td>Attached File</td>
              <td><a href="{{theNotecard.attachedFileUrl}}" target="_blank">File</a></td>
	    </tr>
            <tr>
              <td>Permission</td>
              <td>{{theNotecard.permission}}</td>
            </tr>
            <tr>
              <td>Creation Time</td>
              <td>{{theNotecard.creationTime}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="user-info" ng-show='isAuthenticated()'>
      {{username}}
      <form name='logoutForm' 
            ng-submit='logoutGeo()' 
            ng-show='isAuthenticated()'>
	<div class="auth-btn-container">
	  <button type="submit" class="profile-tab-button">
	    <span class="glyphicon glyphicon-log-out"> Logout</span>
	  </button>
	</div>
      </form>
    </div>
  </div>
</div>
  
  
