<script type="text/javascript">
      // PROFILE-PANEL-RIGHT contains all of the profile tab panels
      // this includes Notecards, Colleagues, Settings, Logout button, etc
      
      // script for animated PROFILE-PANEL OPENING functionality
      $(document).ready(function() {
      // open up profile panel
      $('.panel-toggle').click(function() {
      if($(this).is('#tools')) {
      if($('.tools-panel').hasClass('open'))
      {
      $('.tools-panel').removeClass('open');
      $('.tools-panel').addClass('closed');
      $('.tools-panel').animate({width: "0px"}, 50);
      $('#map-canvas').animate({left: "0px"}, 50);
      var new_width = $('#map-canvas').width() + 450;
      $('#map-canvas').animate({width: new_width + "px"}, 50);
                new_width = $('.extra-tools-panel').width() + 450;
      $('.extra-tools-panel').animate({left: "0px",
      width: new_width + "px"}, 50);
                //This doesn't work for some reason
      google.maps.event.trigger(mapA,'resize',{});
      }
      else
            {
                $('.tools-panel').removeClass('closed');
                $('.tools-panel').addClass('open');
                $('.tools-panel').animate({width: "450px"}, 50);
                $('#map-canvas').animate({left: "450px"}, 50);
                var new_width = $('#map-canvas').width() - 450;
                $('#map-canvas').animate({width: new_width + "px"}, 50);
                new_width = $('.extra-tools-panel').width() - 450;
                $('.extra-tools-panel').animate({left: "450px",
                                                width: new_width + "px"}, 50);
                //This doesn't work for some reason
                google.maps.event.trigger(mapA,'resize',{});
            }
            // loadNotecards('.notecard-container', {{ user.id }}, 0, 5, 'append');
            // loadNotecards('.newsfeed-container', -1, 0, 5, 'append');
            // getColleagues();
        }
        else {
            if($('.profile-panel').hasClass('open'))
            {
                $('.profile-panel').removeClass('open');
                $('.profile-panel').addClass('closed');
                $('.profile-panel').animate({width: "0px"}, 50);
                var new_width = $('#map-canvas').width() + 250;
                $('#map-canvas').animate({width: new_width + "px"}, 50);
                new_width = $('.extra-tools-panel').width() + 250;
                $('.extra-tools-panel').animate({width: new_width + "px"}, 50);
            }
            else
            {
                $('.profile-panel').removeClass('closed');
                $('.profile-panel').addClass('open');
                $('.profile-panel').animate({width: "250px"}, 50);
                var new_width = $('#map-canvas').width() - 250;
                $('#map-canvas').animate({width: new_width + "px"}, 50);
                new_width = $('.extra-tools-panel').width() - 250;
                $('.extra-tools-panel').animate({width: new_width + "px"}, 50);
            }
            // $('.notecard-container').empty();
            // $('.colleague-container').empty();
        }
    });
});
</script>
    
<div class="profile-panel closed" ng-controller="LoginController">    
  <div class="tab-pane profile-tab-pane active" id="auth">
    <div class="tool">
      <div class="tool-title"><b>Login</b></div>
      <div class="divider"></div>
      <div class="tool-content">
        <form name="loginForm" ng-submit="loginGeo()"
              ng-hide='isAuthenticated()'>
          <fieldset>
            <table class="login-table">
              <tr>
                <td>
                  <label class="control-label" for="username">Login:</label>
                </td>
                <td>
                  <input type="text" ng-model="username" id="username" class="form-control" name="username" required/>
                  <span ng-show="form.username.$dirty && form.username.$error.required" class="help-block">Username is required</span>
                </td>
              </tr>
              <tr>
                <td>
                  <label class="control-label" for="password">Password:</label>
                </td>
                <td>
                  <input type="password" ng-model="password" id="password" class="form-control" name="password" required/>
                  <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>
                </td>
              </tr>
            </table>
            <span class="form-error"></span>
          </fieldset>
          <div class="auth-btn-container">
            <button type="submit" class="btn auth-btn">Log In</button>
          </div>
        </form>
        <form name='logoutForm' 
              ng-submit='logoutGeo()' 
              ng-show='isAuthenticated()'>
          Hello, {{username}}
          <div class="auth-btn-container">
            <button type="submit" class="btn auth-btn">Log Out</button>
          </div>
        </form>
      </div>
    </div>
    
    <!--
        <div class="tool">
          <div class="tool-title"><b>Sign Up</b></div>
          <div class="divider"></div>
          <div class="tool-content">
            <form class="auth-form" action="/signup/" method="POST" enctype="multipart/form-data"> 
              <fieldset>
                <table class="signup-table">
                  <tr>
                    <td>
                      <label class="control-label" for="username">User Name: <span class="required">*</span></label>
                    </td>
                    <td>
                      <input class="form-control" id="id_username" maxlength="30" name="username" placeholder="Username" type="text" />
                      <span class="form-error"></span>
                    </td>
                  </tr>
                  <tr>
                  <td>
                    <label class="control-label" for="email">Email <span class="required">*</span></label>
                  </td>
                  <td>
                    <input class="form-control" id="id_name" maxlength="30" name="name" placeholder="Joe Schmo" type="text" />
                    <span class="form-error"></span>
                  </td>
                  </tr>
                  <tr>
                  <td>
                    <label class="control-label" for="name">Name: <span class="required">*</span></label>
                  </td>
                  <td>
                    <input class="form-control" id="id_name" maxlength="30" name="name" placeholder="Joe Schmo" type="text" />
                    <span class="form-error"></span>
                  </td>
                  </tr>
                <tr>
                  <td>
                    <label class="control-label" for="password">Password: <span class="required">*</span></label>
                  </td>
                  <td>
                    <input class="form-control" id="id_password" name="password" placeholder="Password" type="password" />
                    <span class="form-error"></span>
                  </td>
                </tr>
                <tr>
                  <td>
                    <label class="control-label" for="password_conf">Confirm Password:<span class="required">*</span></label>
                  </td>
                  <td>
                    <input class="form-control" id="id_password_conf" name="password_conf" placeholder="Password (repeat)" type="password" />
                    <span class="form-error"></span>
                  </td>
                </tr>
                <tr>
                  <td></td>
                  <td>
                    <span class="required">*</span> required fields
                  </td>
                </tr>
              </table>
            </fieldset>
            <div class="auth-btn-container">
              <button type="submit" class="btn auth-btn">SIGN UP</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
-->
  </div>
</div>
